.box {
	height: 100px;
	width: 100px;
	background-color: gray;
	border: 2px dotted black;
}

body {
	height: 2000px;
}

#box1 {
	height: 40px;
	width: 100%;
	position: fixed;
}

#box2 {
	position: relative;
	top: 45px;
}

p{
	width: 450px;
}

span {
	font-size: 3em;
	color: lightgray;
}